/*********************GENERAL*/


*, *:before, *:after {
	    box-sizing: border-box;
	 }
	
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}
  /***************************grid ...****************************************************************/
body {
	font-family: 'Noto Sans', sans-serif;
}
.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100vh;
}
.header-right-image {
	background-image: url(./media/home-img.jpg);
 	background-repeat: no-repeat;
  	background-size: auto;
}
h1 {
	padding-top: 2rem;
	font-size: 1.5rem;
	margin-left: 7rem;
	font-weight: 700;
	text-shadow: 2px 2px #747574;
}
nav {
	text-align: center;
	padding-top: 2rem;
}
.home {
	color: #C19E6D;
}
nav a {
	color: #777;
	text-transform: uppercase;
	font-size: 0.85rem;
}
a {
	text-decoration: none;
	margin-left: 2rem;
}
.header-right {
	background-color: #F5E3D7;
	height: 100vh;
}
img {
	width: 100%
}
.header-first-heading {
	padding-top: 9rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #777;
}
.header-first {
	line-height: 1.3;
	width: 90%;
	margin: 0 auto;	
}
.header-first-para {
	padding-top: 1rem;
	font-size: 2.1rem;
	font-weight: 400;
	color: rgba(0,0,0,0.7); 
}
.header-first-para span {
	font-weight: 700;
}
.header-first-sub-heading {
	font-size: 0.85rem;
	line-height: 2;
	padding-top: 1rem;
	color: rgba(0,0,0,0.5);
}
.btn {
	border: none;
	margin-top: 3rem;
	padding: 0.5rem 2rem;
	background: transparent;
	border: 3px solid black;
	color: black;
	font-weight: bolder;
	border-radius: 1rem;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin-bottom: 9rem;
}


.sec-1 {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}
.sec-1 .sec-1-para {
	padding-top: 2rem;
	color: #F4D098;
}
.col-1 {
	width: 90%;
	margin: 0 auto;
	line-height: 1.3;	
}
.col-3 {
	background-color: #ECAF4E;
}
.sec-1 .sec-1-sub-para {
	padding-top: 1rem;
}
.lower {
	padding-top: 0.5rem;
}
.sec-1 img {
	height: 100%;
}
.sec-1 h2 {
	padding-top: 2rem;
}
.col-3-skills {
	max-width: 80%;
	margin: 0 auto;
	padding-bottom: 3rem;
}
.sec-1 span {
	color: white;
	float: right;
}
.photo {
	font-size: 0.8rem;
	color: rgba(255,255,255,0.7);
	padding-bottom: 3rem;
}
.col-3 p {
	padding-bottom: 0.5rem;
	padding-top: 1rem;
	font-size: 0.8rem;
	font-weight: bolder;
}



.services {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}
.items-1 {
	background-color: #ECAF4E;
	color: white;
}
.items-2 {
	color: white;
	background-color: #FC683E;	
}
.items-3 {
	color: white;
	background-color: #161616;
}
.items-4 {
	background-color: #FFFFFF;
	color: black;
}
.items i{
	padding-top: 3rem;
	font-size: 3rem;
	padding-bottom: 1.5rem;
}
.items h4 {
	padding-bottom: 1rem;
	width: 80%;
	margin: 0 auto;
}
.items p {
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 300;
	padding-bottom: 3rem;
	width: 80%;
	margin: 0 auto;
}


.experience {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.exp {
	padding-left: 10%;
	padding-right: 10%;
	background-color: #FC683E;
	color: white;;
}
.exp h2 {
	color: white;
	font-size: 2rem;
	padding-top: 3rem;
}
.sub-head {
	color: white;
	font-size: 1rem;
	padding-bottom: 3rem;
}
.exp i {
	font-size: 2rem;
	margin-right: 2rem;	
}
.i-text{
	font-size:1.4rem;
	line-height: 2rem; 
	padding-bottom: 3rem;
}
.i-text span {
	color: #753334;
	font-size: 1rem;
}
.i-text p {
	margin-left: 4.4rem;
	font-size: 1rem;
}




.edu {
	background-color: #ECAF4E;
}



.contact {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}
.hello {
	background-color: #FC683E;
	color: white;
	padding-left: 2rem;
}
.office {
	background-color: #161616;
}

input {
	width: 90%;
	margin: 0 auto;
	background: transparent;
	border: none;
	border-bottom: 1px solid #f5ed7a;
}
textarea {
	width: 90%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #f5ed7a;
}

.name {
	margin-bottom: 2rem;
}
.email {
	margin-bottom: 2rem;
}
.textarea {
	margin-bottom: 2rem;
}
::placeholder {
	color: rgba(255,255,255,0.7);
}
.hello h5 {
	font-size: 2rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.contact img {
	height: 100%;
}
form {
	padding-bottom: 4rem;
	padding-top: 2rem;
}
.contact p {
	color: rgba(255,255,255,0.6);
}
.office {
	color: white;
	padding-left: 2rem;
}

.office h6 {
	font-size: 1.5rem;;
	padding-top: 3rem;
}

.office p {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}
.office h5 {
	font-size: 1.6rem;;
	padding-top: 1rem;
}
.orange {
	color: #7C5F30;
}
.office span {
	margin-left: 1rem; 
}
.it {
	padding-bottom: 1rem;
}
.send {
	background-color: white;
	padding: 0.5rem 4rem;
	width: 40%;
	border: none;
	border-radius: 1rem;
}
.map {
	background-color: #FC683E;
}
.container {
	max-width: 70%;
	margin: 0 auto;
}

iframe {
	width: 100%;
	padding: 2rem 0; 
}
.footer {
	text-align: center;
	padding-top: 8rem;
	padding-bottom: 8rem;
	color: #777;
}
small {
	padding-bottom: 3rem;
}

.social i {
	padding-top: 3rem;
}
.social {
	word-spacing: 2rem;
}





@media only screen and (max-width: 768px) {
  .header-image, .header-right {
  	width: 100%;
  }

}
.head{
		margin-left:100px;
}

.item2{
    background-color: red;
	color: white;
	border: 1px solid green;
}